<%-include('header')%>
<form action="/compose" method="post">
    <div>
        <!-- <label for="url">Url</label> -->
    <input type="text" name="url" id="url" placeholder="Enter url of new item's image">
    </div>
    <div>
        <!-- <label for="price">Price</label> -->
    <input type="text" name="price" id="price" placeholder="Enter price of new item">
    </div>
    
    <button type="submit">Add new Item</button>
</form>
<%-include('footer')%>