<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Food order app</title>
</head>
<body>

    <div class="slogan">
        <!-- <img src="/images/image1.png" alt="" /> -->
        <div class="navbar">
          <div class="left">
            <a href="/"><h1>33 to 36 Cafe</h1></a>
          </div>
          <div class="right">
            <ul>
              <li><a href="/cart"><i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i></a> </li>
              <li><a href="/">Contact Us</a> </li>
              <li><a href="/">About Us</a> </li>
              <li><a href="/">Benefit</a> </li>
              <li><a href="/">History</a> </li>
            </ul>
          </div>
          <div onclick="show()" id="hamburger" class="hamburger">
              <div></div>
              <div></div>
              <div></div>
            </div>
        </div>
        <p>
          Served with <br />
          pure love<
        </p>
      </div>